<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div class="container-fluid flex-column text-center mt-3 mb-3">
  <h3 class="text-center mt-2 mb-2">De estos platos saldra la selección diaria</h3>

<div class="row text-center">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Pollo en pepitoria</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Pollo al ajillo</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Pollo en escabeche de naranja</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Pollo al chilindron</h2>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <div class="card">
          <div class="card-body">
              <h2 class="card-title">Pollo Katsu Curry</h2>
          </div>
      </div>
  </div>

</div>
<button class="btn text-center bg-dark "  (click)="goBack()">Volver</button>
<app-footer></app-footer>
