<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>
<div id="container1">
  <div class="text-center  pb-5">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Por encargo</h1>
    <p class="lead mb-4">
      Descubre nuestra exclusiva selección de platos elaborados bajo pedido,
      diseñados para satisfacer los paladares más exigentes. Explore una
      variedad de opciones culinarias meticulosamente preparadas para deleitar
      su gusto y elevar su experiencia gastronómica.
    </p>
  </div>
</div>


<div class="container-fluid flex-column text-center">


<div class="row text-center bg-dark">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Codillo asado</h3>
            <img src="./../../../assets/encargo/codillo.jpg" alt="Codillo" class="rounded img-encargo flex-grow-1">
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Cochinillo asado</h3>
            <img src="./../../../assets/encargo/cochinillo.jpg" alt="Cochinillo" class="rounded img-encargo flex-grow-1">
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Pierna de cordero</h3>
            <img src="./../../../assets/encargo/pierna.jpg" alt="Pierna de cordero" class="rounded img-encargo flex-grow-1">
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Frite de cordero</h3>
            <img src="./../../../assets/encargo/frite.jpg" alt="Frite de cordero" class="rounded img-encargo flex-grow-1">
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-3">Arroz negro</h3>
          <img src="./../../../assets/encargo/negro.jpg" alt="Lubina" class="rounded img-encargo flex-grow-1">
        </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
      <div class="card">
          <div class="card-body">
            <h3 class="mb-3">Paella mixta</h3>
      <img src="./../../../assets/encargo/paella.jpg" alt="Paella" class="rounded img-encargo flex-grow-1">
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-3">Arroz de marisco</h3>
          <img src="./../../../assets/encargo/arrozmarisco.png" alt="Arroz de marisco" class="rounded img-encargo flex-grow-1">
        </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-3">Arroz ibérico</h3>
          <img src="./../../../assets/encargo/arroziberico.jpg" alt="Arroz iberico" class="rounded img-encargo flex-grow-1">
        </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-3">Merluza rellena </h3>
          <img src="./../../../assets/encargo/merluza.jpg" alt="Merluza" class="rounded img-encargo flex-grow-1">
        </div>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3">
    <div class="card">
        <div class="card-body">
          <h3 class="mb-3">Lubina a la sal</h3>
          <img src="./../../../assets/encargo/lubina.jpg" alt="Lubina" class="rounded img-encargo flex-grow-1">
        </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
