/* Estilos generales */
.modal-container {
  background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%; /* Ancho predeterminado */
}

.modal-actions {
  text-align: center;
  margin-top: 20px;
}

.mat-button {
  background-color: #f69714;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mat-button:hover {
  background-color: #f57f10;
}

strong {
  color: #f69714;
}


@media (max-width: 768px) {
  .modal-content {
    width: 90%; 
  }
}
