<div id="animatedcontainer" class="mb-3 container justify-content-center align-content-center animate__animated animate__bounce">
  <img id="animation" src="../../../assets/logo.jpg" alt="LogoAnimado" class="mb-3 mt-3">
</div>

<app-navbar></app-navbar>



<div  class="text-center" id="container2">
  <div class="text-center border-bottom">
    <br>
    <h1 class="display-4 fw-bold text-body-emphasis">Comida casera</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Sumérgete en un universo de sabores auténticos donde cada bocado es una oda a la
        sencillez y la excelencia.
        Disfruta de platos recién elaborados con ingredientes de primera calidad, cultivados con mimo y
        seleccionados con esmero en los campos y huertos de nuestra tierra.</p>
    </div>
    <div>
      <div class="container px-5">
        <img src="./assets/menus.png" class="img-fluid rounded-3 shadow-lg mb-4" alt="Example image" width="700"
          height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div id="container3" class="container text-center mt-5">
  <div class="text-center border-bottom">
    <br>
    <h1 class="display-4 fw-bold text-body-emphasis">Postres y tartas de elaboración propia</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Disfruta de una gran variedad de sabores para satisfacer todos los gustos: desde tartas
        clásicas
        como la de chocolate o la de queso, hasta creaciones innovadoras que te sorprenderán gratamente.</p>
    </div>
  </div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.choco.jpg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Tarta de chocolate</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.queso.jpg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Tarta de queso</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.lotus.jpg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Tarta Lotus</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.manza.jpg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Tarta de manzana</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.zana.jpeg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Tarta de zanahoria</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"
              src="./../../../assets/tartas/t.red.jpg" role="img" preserveAspectRatio="xMidYMid slice"
              focusable="false">
            <div class="card-body">
              <p class="card-text"><strong>Red Velvet</strong></p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>

<div id="container4" class="mb-5">
  <div class="text-center border-bottom">
    <br>
    <h1 class="display-4 fw-bold text-body-emphasis">Carta por encargo</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Disfruta de la exclusividad de un plato caliente o tarta elaborada especialmente para ti. En
        <strong>Delicias & ManjarEx</strong> ponemos a tu disposición un servicio de encargo personalizado,
        donde puedes solicitar tu comida favorita con la antelación que desees.</p>
    </div>
  </div>
</div>
<div class="justify-content-center align-items-center container">
<app-carrusel></app-carrusel>
</div>
<app-footer></app-footer>
