#container2,
#container4 {
  background-color: #f69714;

}

.slide-rotate-horizontal-top {
  animation: slide-rotate-horizontal-top 2s linear both
}

@keyframes slide-rotate-horizontal-top {
  0% {
    transform: translateY(0) rotateX(0deg)
  }

  100% {
    transform: translateY(-150px) rotateX(-90deg)
  }
}


#animation
{
  object-fit: contain;
  width: 100%;
  height: 100vh;
  margin: 4em;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn s ease-in forwards;
}

#animatedcontainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -100;
  }
}

.fade-out {
  animation: fadeOut 3.5s forwards;
}
