<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Platos de cuchara</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Los platos de cuchara son una expresión culinaria sublime, donde ingredientes frescos se fusionan con sabores
        cautivadores en un tazón de confort y calidez. Desde reconfortantes guisos hasta sopas exquisitamente
        condimentadas, estas delicias ofrecen una experiencia gastronómica que alimenta tanto el cuerpo como el
        espíritu.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="text-center mt-2 mb-2">De estos platos saldra la selección diaria</h3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Cocido</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/cocido.jpg" alt="Cocido" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Lentejas</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/lentejas.jpg" alt="Lentejas" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Fabada</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/fabada.jpg" alt="Fabada" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Papas con choco</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/papas.jpg" alt="Papas con choco" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Sopa castellana</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/castellana.jpg" alt="Sopa castellana" />
        </div>
      </div>
    </div>
    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Gazpacho</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/gazpacho.jpg" alt="Gazpacho" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Salmorejo</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/salmorejo.jpg" alt="Salmorejo" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Ajoblanco</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/ajoblanco.jpg" alt="Ajoblanco" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Patatas con costilla</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/cuchara/costi.jpg" alt="Patatas con costilla" />
        </div>
      </div>
    </div>



  </div>
</div>


<app-footer></app-footer>
