<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>
<div class="container-fluid ">
<div  class="container flex-column  mb-5 ">
  <div class="list-group ">
      <ul class="list-group-item rounded mt-5">
          <ol><strong>¿Qué tipo de comidas ofrecen? </strong></ol>
          <ol>Ofrecemos una variedad de comidas caseras que incluyen platos principales, guarniciones, sopas,
              ensaladas, postres y opciones vegetarianas y veganas. Todos nuestros platos están hechos con ingredientes frescos y de alta calidad.</ol>
      </ul>

      <ul class="list-group-item rounded">
          <ol><strong>¿Cómo puedo hacer un pedido?</strong></ol>
          <ol>Puedes hacerlo por telefono o en persona,lo que prefieras.</ol>
      </ul>

      <ul class="list-group-item rounded">
          <ol><strong>¿Con cuánto tiempo de antelación debo hacer mi pedido?</strong></ol>
          <ol>Recomendamos hacer tu pedido con al menos 24 horas de antelación para garantizar la disponibilidad de todos los platos. Para pedidos grandes o especiales,
              como eventos, sugerimos contactarnos con una semana de antelación.</ol>
      </ul>

      <ul class="list-group-item rounded">
          <ol><strong>¿Tienen opciones para personas con intolerancias alimenticias?</strong></ol>
          <ol>Podemos adaptar los platos a tus necesidades, consultanos haciendo click <a href="./contact">aquí</a></ol>
      </ul>

      <ul class="list-group-item rounded">
          <ol><strong>¿Qué medidas de seguridad alimentaria siguen?</strong></ol>
          <ol>Seguimos estrictas normas de seguridad alimentaria y prácticas de higiene en todas las etapas de preparación y entrega de nuestros alimentos para
              garantizar la máxima calidad y seguridad para nuestros clientes</ol>
      </ul>


      <ul class="list-group-item rounded mb-5">
          <ol><strong>¿Qué métodos de pago aceptan?</strong></ol>
          <ol>Aceptamos pagos en efectivo, tarjetas de crédito y débito, y pagos electrónicos a través de bizum.</ol>
      </ul>



  </div>
</div>

</div>

<app-footer></app-footer>
