<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Platos de pasta</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        La pasta es la esencia de la cocina italiana, transformada en arte culinario por el calor. Este maestro virtuoso intensifica sabores, realza aromas y crea texturas perfectas, desde al dente hasta sedosa. En cada bocado, la pasta captura la esencia de las salsas, entregando una experiencia gastronómica sencilla y sofisticada.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="text-center mt-2 mb-2">De estos platos saldra la selección diaria</h3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Al pesto</h4>
        </div>
        <div class="card-img">
          <img class="comida" src="./../../../assets/pasta/pesto.jpg" alt="pasta al pesto" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">A la carbonara</h4>
        </div>
        <div class="card-img">
          <img class="comida" src="./../../../assets/pasta/carbonara.jpg" alt="pasta a la carbonara" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Gnochi con espinacas y pollo </h4>
        </div>
        <div class="card-img">
          <img class="comida" src="./../../../assets/pasta/gnochi.jpg" alt="Gnochi con espinacas y pollo" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Spaguetti de sepia</h4>
        </div>
        <div class="card-img">
          <img class="comida" src="./../../../assets/pasta/sepia.jpg" alt="Spaguetti de sepia" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pasta con Ragú de setas</h4>
        </div>
        <div class="card-img">
          <img class="comida" src="./../../../assets/pasta/ragu.jpg" alt="Pasta con Ragú de setas" />
        </div>
      </div>
    </div>


  </div>
</div>


<app-footer></app-footer>
