<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Platos de pescado</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        El pescado es un tesoro de la cocina.Este proceso esencial acentúa los
        sabores naturales, despierta los aromas y produce texturas exquisitas. Cada bocado de pescado se impregna
        de hierbas y especias, brindando una experiencia gastronómica que
        combina simplicidad y sofisticación en perfecta armonía.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="text-center mt-2 mb-2">
    De estos platos saldra la selección diaria
  </h3>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm ">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bacalao gratinado con pisto</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/fish/b.pisto.jpg" alt="bacalao gratinado con pisto" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bacalao a la nata</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/fish/b.nata.jpg" alt="Bacalao a la nata" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Atún con pisto y huevo frito</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/fish/atun.jpg" alt="Atún con pisto y huevo frito" />
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Merluza en salsa verde</h4>
        </div>
        <div class="card-img">
          <img id="comida" src="./../../../assets/fish/merluza.jpg" alt="Merluza en salsa verde" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
