<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>
<div id="container1" class="mb-3">
  <div class="text-center border-bottom ">
      <br>
      <h1 class="display-4 fw-bold text-body-emphasis">Platos frios</h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Los platos fríos son preparaciones que se sirven a temperatura ambiente o
              refrigeradas, y que generalmente no requieren cocción o calor para su elaboración. Estos platos se
              caracterizan por su frescura,
              ligereza y su capacidad para resaltar los sabores naturales de los ingredientes utilizados.</p>
              <hr>

      </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Hummus</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/hummus.jpg" alt="Hummus"  (click)="openDialog({
                    name: 'Hummus de garbanzos',
                    ingredients: ' Garbanzos cocidos, tahini, jugo de limón fresco, dientes de ajo , aceite de oliva virgen extra, comino en polvo, sal, agua y pimentón dulce o paprika para decorar.',

                  })">
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Ensalada caprese</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/caprese.jpg" alt="Ensalada Caprese" (click)="openDialog({
                    name: 'Ensalada caprese',
                    ingredients: ' Tomates maduros, mozzarella fresca, albahaca, aceite de oliva, vinagre balsámico, sal, pimienta negra',

                  })">
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Gazpacho</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/gazpacho.jpg" alt="Gazpacho" (click)="openDialog({
                    name: 'Gazpacho',
                    ingredients: ' tomates maduros, pepino, pimiento verde, pimiento rojo, cebolla, ajo, pan duro , aceite de oliva virgen extra, vinagre de vino tinto, sal, pimienta negra recién molida y agua',

                  })">
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Tabla de embutidos</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/embu.jpg" alt="Embutidos" (click)="openDialog({
                    name: 'Tabla embutidos',
                    ingredients: 'Jamón ibérico, lomo ibérico, chorizo ibérico, salchichón ibérico',

                  })">
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Tartar de salmon y aguacate</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/tartar.jpg" alt="Tartar" (click)="openDialog({
                    name: 'Tartar de salmon y aguacate',
                    ingredients: ' Salmón fresco, aguacates maduros, limones, cebolla roja, pepino, cilantro fresco, aceite de oliva virgen extra, salsa de soja opcional, sal, pimienta negra recién molida y chips de maíz',

                  })">
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Ensalada de aguacate</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.frios/agua.jpg" alt="Ensalada de aguacate" (click)="openDialog({
                    name: 'Ensalada de aguacate',
                    ingredients: ' Aguacates maduros, tomates cherry o tomates cortados en trozos, pepino cortado en rodajas, cebolla roja cortada en juliana fina, hojas de lechuga variadas, cilantro fresco picado (opcional), jugo de limón fresco, aceite de oliva virgen extra, sal y pimienta negra recién molida.',

                  })">
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
-
