<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
      <br />
      <h1 class="display-4 fw-bold text-body-emphasis">Postres</h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
              ¿Sabes qué son los postres de autor? creados o transformados a un estilo único del Chef. Ellos buscan complementar
              armoniosamente sabores, texturas para crear un nuevo postre.
          </p>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Flan</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/flan.jpg" alt="Flan" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Arroz con leche</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/arroz.jpg" alt="Arroz con leche" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Serradura</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/serradura.jpg" alt="Serradura" />
              </div>
          </div>
      </div>



  </div>
</div>

<app-footer></app-footer>
