<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
      <br />
      <h1 class="display-4 fw-bold text-body-emphasis">Postres / Tartas </h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Sinfonía de dulzura y creatividad en el mundo culinario. Desde delicadas tartas de frutas hasta exquisitos postres de chocolate, cada bocado es una experiencia de placer para el paladar. Estas delicias endulzan momentos especiales y celebraciones, elevando cualquier ocasión con su irresistible encanto.
          </p>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Flan</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/flan.jpg" alt="Flan" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Arroz con leche</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/arroz.jpg" alt="Arroz con leche" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Serradura</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.postres/serradura.jpg" alt="Serradura" />
              </div>
          </div>
      </div>



    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Torrijas</h4>
          </div>
          <div class="card-img">
              <img id="comida" src="../../../assets/p.postres/torrijas.png" alt="Torrijas" />
          </div>
      </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Crema catalana</h4>
        </div>
        <div class="card-img">
            <img id="comida" src="./../../../assets/p.postres/crema-cat.jpg" alt="Crema catalana" />
        </div>
    </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Carrot cake</h4>
      </div>
      <div class="card-img">
          <img id="comida" src="./../../../assets/p.postres/carrot-cake.jpg" alt="Carrot Cake" />
      </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Tarta Banoffee</h4>
      </div>
      <div class="card-img">
          <img id="comida" src="./../../../assets/p.postres/banafoe.jpg" alt="Tarta Banoffee" />
      </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Tarta de queso al horno</h4>
      </div>
      <div class="card-img">
          <img id="comida" src="./../../../assets/p.postres/queso.jpg" alt="Tarta Banoffee" />
      </div>
  </div>
</div>

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Tarta de Lima</h4>
      </div>
      <div class="card-img">
          <img id="comida" src="./../../../assets/p.postres/lima.jpg" alt="Tarta de Lima"/>
      </div>
  </div>
</div>

  </div>
</div>

<app-footer></app-footer>
