<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Platos de carne</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        La carne, al cocinarse, se convierte en el corazón de la cocina, desatando sabores, aromas y texturas que
        deleitan los sentidos. Cada plato es una exploración culinaria, una experiencia sensorial que celebra la
        diversidad y la tradición.</p>
    </div>
  </div>
</div>

<div class="container flex-column">
  <h3 class="text-center mt-2 mb-2">De estos platos saldra la selección diaria</h3>
  <div class="row text-center align-items-stretch mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
      <div class="card flex-fill d-flex flex-column">
        <div class="card-img">
          <a href="./veal"><img src="../../../../assets/meat/svg/vaca.png" alt="svg vaca" class="svg "></a>
        </div>
        <div class="card-text">Ternera</div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
      <div class="card flex-fill d-flex flex-column">
        <div class="card-img">
          <a href="./pig"><img src="../../../../assets/meat/svg/cerdo.png" alt="svg cerdo" class="svg"></a>
        </div>
        <div class="card-text">Cerdo</div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex">
      <div class="card flex-fill d-flex flex-column">
        <div class="card-img">
          <a href="./chicken"> <img src="../../../../assets/meat/svg/pollo.png" alt="svg pollo" class="svg"></a>
        </div>
        <div class="card-text">Pollo</div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
