<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div class="mb-3">
  <div id="container1" class="text-center border-bottom">
    <br />
    <h1 class="display-4 fw-bold text-body-emphasis">Sobre nosotros</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 mt-3">
        ¡Hola! Somos Roberto, Guille y Andy. Tres hermanos cacereños. Nuestra historia comienza en una cocina donde
        crecimos ayudando a nuestros padres a preparar legendarias recetas caseras. Aquellos días llenos de risas,
        olores deliciosos y algún que otro desastre culinario despertaron en nosotros una pasión inquebrantable por la
        cocina.
      </p>
      <br>
      <p class="lead mb-4">
        Después de años trabajando, perfeccionando nuestras habilidades y acumulando experiencias inolvidables,
        decidimos que era hora de unir nuestras fuerzas y talentos. Así nació nuestra aventura: <strong>Delicias &
          ManjarEx</strong>
      <p class="lead mb-4">
        Nuestra misión es simple: queremos traer la calidez y el sabor de las comidas caseras a tu mesa, para que puedas
        disfrutar de un festín sin tener que pasar horas en la cocina. Cada plato que preparamos está hecho con amor,
        ingredientes frescos y un toque de la tradición familiar que nos define.
      </p>
      <p class="lead mb-4">
        Gracias por acompañarnos en esta deliciosa aventura. ¡Estamos aquí para hacer que cada comida sea especial!

        ¡Buen provecho!
      </p>
      <h4 class="mb-3">
        Andy, Guille y Roberto.</h4>
    </div>
  </div>

  <app-footer></app-footer>
