<app-header></app-header>
<app-navbar-secondary></app-navbar-secondary>

<div id="container1" class="mb-3">
  <div class="text-center border-bottom">
      <br />
      <h1 class="display-4 fw-bold text-body-emphasis">Platos Calientes</h1>
      <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
              El calor es el alma de los platos calientes. Ese elemento primordial actúa como un maestro alquimista, realzando los sabores naturales,
               intensificando los aromas y otorgando texturas que van desde lo crujiente hasta lo aterciopelado.
          </p>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Lasaña</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/lasaña.jpg" alt="Lasaña" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Arroz negro</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/arroz.jpg" alt="Arroz negro" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Cocido</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/cocido.jpg" alt="Cocido" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Risotto</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/risotto.jpg" alt="Risotto" />
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Croquetas</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/croquetas.jpg" alt="Croquetas" />
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Carrilleras en salsa</h4>
              </div>
              <div class="card-img">
                  <img id="comida" src="./assets/p.calientes/carrillera.jpg" alt="Carrilleras en salsa" />
              </div>
          </div>
      </div>
  </div>
</div>


<app-footer></app-footer>
